body{
    background-color: #faf5f5db;
    margin: 0;
    padding: 0;
}
header{
    background-color: #f2f2f2;
    border: none;
    margin: 0;
    padding: 0;
}
nav{
    text-align: center;
    position: relative;
}
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
}
nav ul li{
    display: inline;
    margin-right: 10px;
    position: relative;
}
.icon-principal{
    top: 0;
    margin: 0;
}
.paragrafo{
    text-align: center;
    font-size: 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 999;
}
.text-login{
    position: absolute;
    top: 5%;
    right: 3%;
    font-size: 80px;
}
.text-login button:hover {
    background-color: #a7a7a7;
}
.text-login button {
    font-size: 8px;
    background-color: #a7a7a7;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 70px;
    height: 30px;
}
.menu {
    list-style-type: none;
    padding: 0;
}

.menu li {
    display: inline-block;
    margin-right: 10px;
    position: relative;
}

.menu li a {
    display: block;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
}

.menu li .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 5px 5px;
}

.menu li:hover .submenu {
    display: block;
}

.menu li .submenu li {
    display: block;
}

.menu li .submenu li a {
    padding: 8px 15px;
}

.menu li .submenu li:hover a {
    background-color: #a7a7a7;
}
